---
title: "Download and get started | Gauge"
title_tag_of_header: "Download and get started | Gauge"

meta_description: "Download Gauge - open source test automation framework - for free. Get started with a single command."
meta_keywords: "Gauge, test automation, free and open source, download, get started"
---
<main class="main-container container">
  <header class='page-header'>
    <h1>Get Started</h1>
  </header>
      <p class="disclaimer">
    Gauge automatically sends telemetry data to help us <a href="https://blog.getgauge.io/why-we-collect-data-b19df366b677" >improve</a> the product. If you would prefer not to have this data sent you can choose to <a href="https://manpage.gauge.org/gauge_telemetry.html" > opt out</a>
  </p>
    <div class="tab-container tab-container-get_started">
    <aside class="sidebar-menu sidebar-menu-get-started">
      <ul class="tab-nav tab-nav-get_started">
        <li class="tab-nav_item  active-tab " data-attr="windows"><span class="icon_windows"></span> Windows</li>
        <li class="tab-nav_item" data-attr="mac"><span class="icon_macos"></span> Mac OS</li>
        <li class="tab-nav_item " data-attr="debian"><span class="icon_debian"></span> Debian/APT</li>
        <li class="tab-nav_item " data-attr="yum"><span class="icon_yum"></span> YUM/DNF</li>
        <li class="tab-nav_item " data-attr="curl"><span class="icon_curl"></span> Curl</li>
      </ul>

      <div class="marketo-form">
      <h4>Want updates about Gauge releases?</h4>
      <p>Subscribe to the Gauge Release Bulletin for monthly email updates on the latest Gauge releases.</p>
            <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_8802"></form>
      <script>MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 8802, function(form) {
          form.onSuccess(function(values, followUpUrl) {
              $("#marketo-success-message").text(values.Email + " has been registered successfully.");;
              form.vals({Country: "", Email: "", consent_Privacy_Policy: false});
              form.submittable(true);
              $(form.getFormElem()).find("button[type='submit']").text("Submit").prop("disabled", false);
              $("#marketo-success-message").show();
              return false;
          });
      });
      </script>
      </div>
      <div class="marketo-success" id="marketo-success-message"></div>

    </aside>

    <div class="content-container content-container-gett_started">
    <h2 class="mobile-heading open" data-attr="windows"><span class="icon_windows"></span> Windows <span class="expander arrow-active"></span></h2>
      <div class="tab-content active" id="windows">
        <section class="page-block">
          <h3>Install Gauge</h3>
          <div class="tab-component tab-install">
            <ul class="tab">
              <li class="tab_item active-tab" data-attr="chocolatey">Chocolatey</li>
              <li class="tab_item" data-attr="w-zip">ZIP</li>
            </ul>
            <div class="tab-content-container">
              <div class="tab-content active" id="chocolatey">
                <h4 class="mobile-title">Chocolatey</h4>
                <p class="instruction"> Install Gauge using <a href="https://chocolatey.org">Chocolatey</a></p>
                <div class="code-box">
                  <code>&gt; choco install gauge</code>
                </div>
              </div>
              <div class="tab-content" id="w-zip">
                <h4 class="mobile-title">ZIP</h4>
                <p class="instruction"> Download the
                  <a href="https://github.com/getgauge/gauge/releases/download/v0.9.9/gauge-0.9.9-windows.x86_64.zip">zip</a>
                  installer and the run following command in powershell</p>
                <div class="code-box">
                  <code>PS&gt; Expand-Archive -Path gauge-0.9.9-windows.x86_64.zip -DestinationPath custom_path</code>
                </div>
              </div>

              <p class="instruction">
                For alternate methods of installation and our nightly releases, check out our
                <a href="https://docs.gauge.org/latest/installation.html#installation">documentation</a>.
              </p>
            </div>
          </div>
        </section>
        <%= partial 'partials/installation' %>
      </div>
      <h2 class="mobile-heading" data-attr="mac"><span class="icon_macos"></span> Mac OS <span class="expander arrow"></span></h2>
      <div class="tab-content" id="mac">
        <section class="page-block">
          <h3>Install Gauge</h3>
          <div class="tab-component tab-install">
            <ul class="tab ">
              <li class="tab_item active-tab" data-attr="homebrew">Homebrew</li>
              <li class="tab_item" data-attr="mac-zip">Zip</li>
            </ul>
            <div class="tab-content-container">
              <div class="tab-content active" id="homebrew">
                <h4 class="mobile-title">Homebrew</h4>

                <p class="instruction">
                  Install Gauge using
                  <a href="https://brew.sh/" >Homebrew.</a>
                </p>
                <div class="code-box">
                  <code>$ brew update</code>
                  <code>$ brew install gauge</code>
                </div>
              </div>
            <div class="tab-content" id="mac-zip">
              <h4 class="mobile-title">zip</h4>
              <p class="instruction"> For <b>signed</b> binaries download the
                <a href="https://github.com/getgauge/gauge/releases/download/v0.9.9/gauge-0.9.9-darwin.x86_64.zip">zip</a>
                installer and the run following command
              </p>
              <div class="code-box">
                <code>$ unzip -o gauge-0.9.9-darwin.x86_64.zip -d /usr/local/bin</code>
              </div>
            </div>
            <p class="instruction">
            For alternate methods of installation and our nightly releases, check out our  
              <a href="https://docs.gauge.org/latest/installation.html#installation">documentation.</a>
            </p>
            </div>
          </div>
        </section>
        <%= partial 'partials/installation' %>
      </div>
      
      <h2 class="mobile-heading" data-attr="debian"><span class="icon_debian"></span> Debian/AFT <span class="expander arrow"></span></h2>
      <div class="tab-content" id="debian">
        <p class="instruction first_p">Gauge can be installed on any flavour of Linux using the shell script. The following steps will guide you to a quick install on a linux box.</p>
        <section class="page-block">
          <h3>Install Gauge</h3>
          <div class="tab-component tab-install">
            <ul class="tab">
              <li class="tab_item active-tab" data-attr="apt">apt-get</li>
              <li class="tab_item" data-attr="d-zip">ZIP</li>
            </ul>
            <div class="tab-content-container">
              <div class="tab-content active" id="apt">
                <h4 class="mobile-title">apt-get</h4>
                <p class="instruction"> Install Gauge using apt-get </p>
                <div class="code-box">
            <pre>$ sudo apt-key adv --keyserver hkp://pool.sks-keyservers.net --recv-keys 023EDB0B  
$ echo deb https://dl.bintray.com/gauge/gauge-deb stable main | sudo tee -a /etc/apt/sources.list  
$ sudo apt-get update
$ sudo apt-get install gauge</pre>
                </div>
              </div>
              <div class="tab-content" id="d-zip">
                <h4 class="mobile-title">ZIP</h4>
                <p class="instruction">
                  or download the
                  <a href="https://github.com/getgauge/gauge/releases/download/v0.9.9/gauge-0.9.9-linux.x86_64.zip">zip</a>
                  installer and the run following command
                </p>
                <div class="code-box">
                  <code>$ unzip -o gauge-0.9.9-linux.x86_64.zip -d /usr/local/bin</code>
                </div>

              </div>
            </div>
          </div>
          <p class="instruction">
            For alternate methods of installation and our nightly releases, check out our
            <a href="https://docs.gauge.org/latest/installation.html#installation">documentation.</a>
          </p>
        </section>
        <%= partial 'partials/installation' %>
      </div>
      <h2 class="mobile-heading" data-attr="yum"><span class="icon_yum"></span> YUM/DNF <span class="expander arrow"></span></h2>
      <div class="tab-content" id="yum">
        <p class="instruction first_p">Gauge can be installed on any flavour of Linux using the shell script. The following steps will guide you to a quick install on a linux box.</p>
        <section class="page-block">
          <h3>Install Gauge</h3>

          <div class="tab-component tab-install">
            <ul class="tab">
              <li class="tab_item active-tab" data-attr="dnf">dnf</li>
              <li class="tab_item" data-attr="y-zip">ZIP</li>
            </ul>
            <div class="tab-content-container">
              <div class="tab-content active" id="dnf">
                <h4 class="mobile-title">dnf</h4>
                <p class="instruction"> Install Gauge using dnf by running this command
                </p>
                <div class="code-box">
            <pre>$ echo -e
"[gauge-stable]\nname=gauge-stable\nbaseurl=http://dl.bintray.com/gauge/gauge-rpm/gauge-stable\ngpgcheck=0\nenabled=1" | sudo tee /etc/yum.repos.d/gauge-stable.repo
$ sudo dnf install gauge
</pre>
                </div>
              </div>
              <div class="tab-content" id="y-zip">
                <h4 class="mobile-title">ZIP</h4>
                <p class="instruction">
                  Download the
                  <a href="https://github.com/getgauge/gauge/releases/download/v0.9.9/gauge-0.9.9-linux.x86_64.zip">zip</a>
                  installer and the run following command
                </p>
                <div class="code-box">
                  <code>$ unzip -o gauge-0.9.9-linux.x86_64.zip -d /usr/local/bin </code>
                </div>

              </div>
            </div>
          </div>
<p>  For alternate methods of installation and our nightly releases, check out our <a href="https://docs.gauge.org/latest/installation.html#installation"> documentation.</a>
</p>
        </section>
        <%= partial 'partials/installation' %>
      </div>
      <h2 class="mobile-heading" data-attr="curl"><span class="icon_curl"></span> Curl <span class="expander arrow"></span>
      </h2>
      <div class="tab-content" id="curl">
        <section class="page-block">
        <h3>Install Gauge</h3>
        <p>Install Gauge to /usr/local/bin by running </p>
        <div class="code-box">
          <code>
  <pre>
  $ curl -SsL https://downloads.gauge.org/stable | sh
  </pre>
          </code>
        </div>
        <p>or a [custom path]</p>
        <div class="code-box">
          <code>
  <pre>
  $ curl -SsL https://downloads.gauge.org/stable | sh -s -- --location=[custom path]
  </pre>
          </code>
        </div>
        <p>For alternate methods of installation and our nightly releases, check out our <a href="https://docs.gauge.org/latest/installation.html#installation">documentation.</a> </p>
        </section>
        <%= partial 'partials/installation' %>
      </div>
    

    </div>
  </div>
</main>