---
title: "Download and get started | Gauge"
title_tag_of_header: "Download and get started | Gauge"

meta_description: "Download Gauge - open source test automation framework - for free. Get started with a single
command."
meta_keywords: "Gauge, test automation, free and open source, download, get started"
---
<main class="main-container container">
  <header class='page-header'>
    <h1> Get Started With Gauge </h1>
  </header>
  <p class="disclaimer">
    Gauge automatically sends telemetry data to help us <a href="https://gauge.org/2017/07/20/why-we-collect-data/">improve</a>
    the product. If you would prefer not to have this data sent you can choose to <a href="https://manpage.gauge.org/gauge_telemetry.html">
      opt out</a>
  </p>
  <div class="tab-container tab-container-get_started">
    <aside class="sidebar-menu sidebar-menu-get-started">
      <h3 class="sidebar-header"> Overview </h3>
      <ul class="sidebar sidebar_get-started">
        <li class="sidebar_item active_item"> Before We start</li>
        <li class="sidebar_item"> Quick Install</li>
        <li class="sidebar_item"> Create a Gauge Project </li>
        <li class="sidebar_item"> Generate a Report </li>
        <li class="sidebar_item"> Create your own Test Specification </li>
        <li class="sidebar_item"> Next Steps </li>
      </ul>
    </aside>

    <div class="content-container content-container-gett_started">
      <%= partial 'partials/get-started/_we-start.html.erb' %>
      <%= partial 'partials/get-started/_quick-install.html.erb' %>
      <%= partial 'partials/get-started/_create-project.html.erb' %>
      <%= partial 'partials/get-started/_generate-report.html.erb' %>
      <%= partial 'partials/get-started/_create-specification.html.erb' %>
      <%= partial 'partials/get-started/_next-steps.html.erb' %>
    </div>
</main>

<%= partial 'partials/_marketo-form.html.erb' %>
