<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Gauge" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "jquery-3.3.1.min" %>
    <%= javascript_include_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  </head>
  <body class= <%= page_name == 'home' ? "homepage" : 'inner' %> id= <%= page_name %>>
    <%= partial 'partials/header' %>
    <div class="gdpr-cookie-banner">
      <span class="close">X</span>
      <p>Our site uses <a href="https://www.thoughtworks.com/privacy-policy#cookie-section" target="_blank" rel="noopener noreferrer">cookies</a> for analytics. If you're unsure about it, take a look at our <a href="https://www.thoughtworks.com/privacy-policy" target="_blank" rel="noopener noreferrer">privacy policy</a>.</p>
    </div>
    <%= yield %>
    <%= partial 'partials/footer' %>
  </body>
</html>
