<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Gauge" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "jquery-3.3.1.min" %>
    <%= javascript_include_tag "three_js/three.min" %>
    <%= javascript_include_tag "three_js/projector" %>
    <%= javascript_include_tag "three_js/canvas" %>
    <%= javascript_include_tag "three_js/stats.min" %>
    <%= javascript_include_tag "background_animation" %>
    <%= javascript_include_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  </head>
  <body class= <%= page_name == 'home' ? "homepage" : 'inner' %> id= <%= page_name %>>
    <%= partial 'partials/header' %>
       <%= yield %>
    <%= partial 'partials/footer' %>
  </body>
</html>
