<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="<%= value_or_title_as_default(:meta_description) %>" name="description" />
    <meta content="<%= value_or_default(:meta_keywords, 'Gauge, getgauge, test automation framework, free and open source, thoughtworks, acceptance test, functional test, regression test, automation testing, python runner, C# runner, Java runner, javascript runner, visual studio code, visual studio, intellij, ruby runner, Gauge, test automation, free and open source, download, get started, Gauge, plugins, community plugins, support plugins, extend gauge, IDE, Drivers, VS Code, IntelliJ, Ruby, C#, Visual Studio') %>" name="keywords" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@getgauge" />
    <meta name="twitter:title" content="<%= twitter_card_property(:twitter_card_title, :title_tag_of_header) %>" />
    <meta name="twitter:description" content="<%= twitter_card_property(:twitter_card_description, :meta_description) %>" />
    <meta name="twitter:image" content="<%= twitter_card_image('gauge_release_twitter_card_2.jpg') %>" />
    <meta name="google-site-verification" content="r8Oi9Z8jYZPm9W1wIPznETq2uoiV86I7T1MQclCjSk4" />
    <link rel="canonical" href="<%= canonical_link_for(current_article || current_page) %>" />
    <title><%= value_or_title_as_default(:title_tag_of_header) %></title>
    <link href="assets/images/favicons/favicon.ico" rel="shortcut icon" type="image/ico" />
    <link href="assets/images/favicons/apple-touch-icon.png" rel="apple-touch-icon-precomposed" type="image/ico" />
    <%= stylesheet_link_tag "site" %>
  </head>
  <script type=“application/ld+json”>
{
 “@context” : “http://schema.org“,
 “@type” : “Product”,
 “name” : “Gauge”,
 “image” : “https://gauge.org/assets/images/gauge-logo_white.svg”,
 “description” : “Gauge is a free and open source test automation framework that takes the pain out of acceptance testing”,
 “url” : “https://gauge.org/“,
 “brand” : {
   “@type” : “Brand”,
   “name” : “ThoughtWorks Inc.”
 }
}
</script> 
  <body class= <%= page_name == 'home' ? "homepage" : 'inner' %> id= <%= page_name %>>
    <%= partial 'partials/header' %>
    <%= yield %>
    <%= partial 'partials/footer' %>
  </body>
</html>
